---    
  - name: Install mySQL
    apt: name=python-mysqldb state=present

  - name: copy .my.cnf file with root password credentials
    template: src=templates/root/.my.cnf dest=/root/.my.cnf owner=root mode=0600

  - name: update mysql root password for all root accounts
    mysql_user: name=root host={{ item }} password={{ mysql_root_password }} priv=*.*:ALL,GRANT
    with_items:
     - "{{ ansible_hostname }}"
     - 127.0.0.1
     - ::1
     - localhost


  - name: Create Database
    mysql_db: name=backbase state=present