---    
  - name: Install MySQL
    apt: 
      name: "{{ item }}"
    with_items:
        - python-mysqldb
        - mysql-server

  - name : Install config file
    copy : src="my.cnf" dest="/etc/mysql"

  - name: Start the MySQL service
    service: 
      name: mysql 
      state: started
      enabled: true


  - name: update mysql root password for all root accounts
    mysql_user: name=root password={{ mysql_root_password }} login_user=root login_password={{ mysql_root_password }} check_implicit_admin=yes priv=*.*:ALL,GRANT host={{ item }} state=present
    with_items:
     - "{{ ansible_hostname }}"
     - 127.0.0.1
     - ::1
     - localhost

  - name: Create backbase backbase user
    mysql_user: name=backbase password={{ mysql_root_password }} priv=*.*:ALL state=present login_user=root login_password={{ mysql_root_password }}

  - name: Create Database
    mysql_db: login_user=backbase login_password={{ mysql_root_password }} name={{item}} state=present
    with_items:
      - "portal"
      - "audit"
      - "config"
      - "content"
      - "resource"
      - "orchestr"

 # - name: populuate databases
 #   mysql_db: state=import name=all target=/tmp/{{ inventory_hostname }}.sql


#  - name: copy .my.cnf file with root password credentials
#    template: src=.my.cnf dest=/home/root/.my.cnf owner=root mode=0600


